header {
  height: 20vh;
  background-color: #0a0a0a;
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#videos {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

@media (min-width: 768px) {
  #videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #videos {
    grid-template-columns: repeat(3, 1fr);
  }
}